
a {
	color: #ffffff;
}

#info {
	position: absolute;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

#menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.element {
	width: 100px;
	height: 100px;
	background-size: 100% 100%;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	text-align: center;
}

.btnClick{
	width: 4rem;
	height: 4rem;
	z-index: 1000;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	text-align: center;
	/* transform:rotate3d(0); */
	transition: all 1s;
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 6px solid rgba(110, 212, 255, 0.6);
}

.element-text {
	width: 171px;
	height: 63px;
	background: url("../assets/text-kuang.png") 100% 100%;
	background-size: 100% 100%;
	color: #fff;
	font-size: 24px;
	cursor: default;
	position: relative;
}
.element-text .wrap {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 171px;
	height: 46px;
}
button {
	color: #fff;
	background: url("../assets/btn.png") 100% 100%;
	background-size: 100% 100%;
	outline: 0;
	border: 0;
	width: 100px;
	height: 50px;
}
button.active {
	color: #fff;
	background: url("../assets/btn-active.png") 100% 100%;
	background-size: 100% 100%;
	outline: 0;
	border: 0;
	width: 100px;
	height: 50px;
}
button#color-egg {
	color: #fff;
	background: url("../assets/egg.png") 100% 100%;
	background-size: 100% 100%;
	outline: 0;
	border: 0;
	margin-top: 10px;
	width: 100px;
	height: 100px;
}
button#color-egg.active {
	color: #fff;
	background: url("../assets/egg2.png") 100% 100%;
	background-size: 100% 100%;
	outline: 0;
	border: 0;
	margin-top: 10px;
	width: 100px;
	height: 100px;
}
#cardBigBox {
	z-index: 9;
}
#cardBigBox img {
	display: none;
	object-fit:cover;
}